# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment directories
*venv/*

# IDE/editor configurations
.vscode/

# Environment variables
.env

# Logs
*.log

# Unit test output
*.out
*.err
