/* Logo.css */
.logo:hover + .tooltip {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .tooltip {
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    font-size: 0.9rem;
    z-index: 10;
  }
  